Combining Data in Pandas (Left,Right,Inner Joins and Union)

In [1]:
import pandas as pd

In [4]:
#Import & process csv files and display 1st dataset

read_table1=pd.read_csv(r"D:\GE Data Analytics Data Set\ge task 1 for tableau\av_engine_data_aic.csv")
read_table1.head(3)

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,train_FD001,999001,1,1,2018-01-11 17:10:56,AIC,VTBS,VICG,-0.0005,0.0002,...,521.93,2388.12,8130.36,8.4279,0.03,392,2388,100,38.86,23.4513
1,train_FD001,999001,1,2,2018-01-12 01:07:00,AIC,VICG,VTBS,0.0016,-0.0003,...,521.72,2388.09,8134.28,8.4230,0.03,391,2388,100,38.80,23.3881
2,train_FD001,999001,1,3,2018-01-12 02:06:59,AIC,VICG,VTBS,-0.0017,0.0001,...,521.97,2388.09,8133.95,8.3951,0.03,391,2388,100,38.84,23.3085

In [5]:
#Read and display the 2nd dataset 

read_table2=pd.read_csv(r"D:\GE Data Analytics Data Set\ge task 1 for tableau\av_engine_data_axm.csv")
read_table2.head(3)

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,test_FD001,999126,26,1,2017-12-31 18:33:07,AXM,VTBD,VTUV,-0.0027,0.0006,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,test_FD001,999126,26,2,2017-12-31 19:59:49,AXM,VTUV,VTBD,-0.0029,0.0002,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,test_FD001,999126,26,3,2017-12-31 21:44:38,AXM,VTBD,VMMC,0.0008,0.0001,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390

In [6]:
#Read and display the 3rd dataset 

read_table3=pd.read_csv(r"D:\GE Data Analytics Data Set\ge task 1 for tableau\av_engine_data_fron.csv")
read_table3.head(3)

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,train_FD001,999050,50,1,2018-01-06 06:01:09,FRON,KMCO,KMSY,-0.0029,-0.0002,...,521.68,2388.06,8151.49,8.4158,0.03,393,2388,100,38.80,23.3016
1,train_FD001,999050,50,2,2018-01-06 07:41:00,FRON,KMSY,KSAT,-0.0002,-0.0005,...,522.12,2388.07,8142.72,8.4467,0.03,392,2388,100,38.99,23.3440
2,train_FD001,999050,50,3,2018-01-06 08:41:18,FRON,KMSY,KSAT,-0.0010,-0.0005,...,521.96,2388.05,8139.14,8.4424,0.03,393,2388,100,38.91,23.3190

In [7]:
#Merge datasets (1 & 2) by left join

lft_jn=read_table1.merge(read_table2,on='destination_icao',how='left',suffixes=('_AIC', '_AXM'))
lft_jn.head()

,dataset_AIC,esn_AIC,unit_AIC,flight_cycle_AIC,datetime_AIC,operator_AIC,depart_icao_AIC,destination_icao,hpc_eff_mod_AIC,hpc_flow_mod_AIC,...,phi_AXM,nrf_AXM,nrc_AXM,bpr_AXM,farb_AXM,htbleed_AXM,nf_dmd_AXM,pcnfr_dmd_AXM,w31_AXM,w32_AXM
0,train_FD001,999001,1,1,2018-01-11 17:10:56,AIC,VTBS,VICG,-0.0005,0.0002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train_FD001,999001,1,2,2018-01-12 01:07:00,AIC,VICG,VTBS,0.0016,-0.0003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_FD001,999001,1,3,2018-01-12 02:06:59,AIC,VICG,VTBS,-0.0017,0.0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train_FD001,999001,1,4,2018-01-12 07:42:00,AIC,VTBS,VIDP,-0.0012,-0.0002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,train_FD001,999001,1,5,2018-01-12 08:42:17,AIC,VTBS,VIDP,0.0027,0.0001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Merge datasets(1 & 2) by right join

lft_jn2=read_table1.merge(read_table2,on='destination_icao',how='right', suffixes=('_AIC', '_AXM'))
lft_jn2.head(9)

,dataset_AIC,esn_AIC,unit_AIC,flight_cycle_AIC,datetime_AIC,operator_AIC,depart_icao_AIC,destination_icao,hpc_eff_mod_AIC,hpc_flow_mod_AIC,...,phi_AXM,nrf_AXM,nrc_AXM,bpr_AXM,farb_AXM,htbleed_AXM,nf_dmd_AXM,pcnfr_dmd_AXM,w31_AXM,w32_AXM
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTUV,NaN,NaN,...,522.55,2387.98,8147.17,8.3468,0.03,392,2388,100,38.82,23.3876
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTBD,NaN,NaN,...,521.85,2388.01,8146.58,8.4159,0.03,390,2388,100,39.00,23.3793
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VMMC,NaN,NaN,...,522.34,2388.05,8144.60,8.4444,0.03,391,2388,100,39.20,23.3390
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTBD,NaN,NaN,...,522.03,2388.00,8147.98,8.3986,0.03,392,2388,100,38.97,23.3931
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTSP,NaN,NaN,...,522.04,2388.00,8142.07,8.4332,0.03,391,2388,100,39.11,23.3904
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTBD,NaN,NaN,...,522.30,2387.98,8145.16,8.4348,0.03,392,2388,100,38.83,23.3659
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VTCC,NaN,NaN,...,522.50,2388.09,8140.98,8.4034,0.03,392,2388,100,38.97,23.4343
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VOTR,NaN,NaN,...,522.02,2388.02,8138.82,8.3913,0.03,392,2388,100,38.89,23.3488
8,train_FD001,999012.0,12.0,1.0,2018-01-26 02:53:00,AIC,VIDP,WSSS,-0.0049,-0.0002,...,522.36,2388.04,8145.24,8.4326,0.03,393,2388,100,38.96,23.4282

In [9]:
#Display columns for the left join table

lft_jn2.columns

Index(['dataset_AIC', 'esn_AIC', 'unit_AIC', 'flight_cycle_AIC',
       'datetime_AIC', 'operator_AIC', 'depart_icao_AIC', 'destination_icao',
       'hpc_eff_mod_AIC', 'hpc_flow_mod_AIC', 'tra_AIC', 't2_AIC', 't24_AIC',
       't30_AIC', 't50_AIC', 'p2_AIC', 'p15_AIC', 'p30_AIC', 'nf_AIC',
       'nc_AIC', 'epr_AIC', 'ps30_AIC', 'phi_AIC', 'nrf_AIC', 'nrc_AIC',
       'bpr_AIC', 'farb_AIC', 'htbleed_AIC', 'nf_dmd_AIC', 'pcnfr_dmd_AIC',
       'w31_AIC', 'w32_AIC', 'dataset_AXM', 'esn_AXM', 'unit_AXM',
       'flight_cycle_AXM', 'datetime_AXM', 'operator_AXM', 'depart_icao_AXM',
       'hpc_eff_mod_AXM', 'hpc_flow_mod_AXM', 'tra_AXM', 't2_AXM', 't24_AXM',
       't30_AXM', 't50_AXM', 'p2_AXM', 'p15_AXM', 'p30_AXM', 'nf_AXM',
       'nc_AXM', 'epr_AXM', 'ps30_AXM', 'phi_AXM', 'nrf_AXM', 'nrc_AXM',
       'bpr_AXM', 'farb_AXM', 'htbleed_AXM', 'nf_dmd_AXM', 'pcnfr_dmd_AXM',
       'w31_AXM', 'w32_AXM'],
      dtype='object')

In [10]:
#Drop first thirty-one of the columns of the left join table

lft_jn2.drop(lft_jn2.iloc[:,0:32], inplace=True, axis=1)
print(lft_jn2.head())

  dataset_AXM  esn_AXM  unit_AXM  flight_cycle_AXM         datetime_AXM  \
0  test_FD001   999126        26                 1  2017-12-31 18:33:07
1  test_FD001   999126        26                 2  2017-12-31 19:59:49
2  test_FD001   999126        26                 3  2017-12-31 21:44:38
3  test_FD001   999126        26                 4  2018-01-01 00:50:02
4  test_FD001   999126        26                 5  2018-01-01 04:25:32

  operator_AXM depart_icao_AXM  hpc_eff_mod_AXM  hpc_flow_mod_AXM  tra_AXM  \
0          AXM            VTBD          -0.0027            0.0006      100
1          AXM            VTUV          -0.0029            0.0002      100
2          AXM            VTBD           0.0008            0.0001      100
3          AXM            VMMC          -0.0026            0.0005      100
4          AXM            VTBD           0.0020            0.0005      100

   ...  phi_AXM  nrf_AXM  nrc_AXM  bpr_AXM  farb_AXM  htbleed_AXM  nf_dmd_AXM  \
0  ...   522.55  2387.98  8147.17   8.3468      0.03          392        2388
1  ...   521.85  2388.01  8146.58   8.4159      0.03          390        2388
2  ...   522.34  2388.05  8144.60   8.4444      0.03          391        2388
3  ...   522.03  2388.00  8147.98   8.3986      0.03          392        2388
4  ...   522.04  2388.00  8142.07   8.4332      0.03          391        2388

   pcnfr_dmd_AXM  w31_AXM  w32_AXM
0            100    38.82  23.3876
1            100    39.00  23.3793
2            100    39.20  23.3390
3            100    38.97  23.3931
4            100    39.11  23.3904

[5 rows x 31 columns]

In [ ]:
#lft_jn2.head()

In [31]:
# Merge tables(1 & 2) by inner join

lft_jn3=read_table1.merge(read_table2,on='destination_icao',how='inner',suffixes=('_AIC', '_AXM'))
lft_jn3.head()

,dataset_AIC,esn_AIC,unit_AIC,flight_cycle_AIC,datetime_AIC,operator_AIC,depart_icao_AIC,destination_icao,hpc_eff_mod_AIC,hpc_flow_mod_AIC,...,phi_AXM,nrf_AXM,nrc_AXM,bpr_AXM,farb_AXM,htbleed_AXM,nf_dmd_AXM,pcnfr_dmd_AXM,w31_AXM,w32_AXM
0,train_FD001,999001,1,16,2018-01-13 20:24:00,AIC,VOBL,VECC,0.0025,0.0003,...,521.52,2388.08,8139.86,8.4519,0.03,392,2388,100,38.88,23.2795
1,train_FD001,999001,1,16,2018-01-13 20:24:00,AIC,VOBL,VECC,0.0025,0.0003,...,521.88,2388.04,8136.90,8.4269,0.03,392,2388,100,38.88,23.2593
2,train_FD001,999001,1,16,2018-01-13 20:24:00,AIC,VOBL,VECC,0.0025,0.0003,...,522.98,2388.00,8139.30,8.3552,0.03,392,2388,100,39.04,23.3496
3,train_FD001,999001,1,16,2018-01-13 20:24:00,AIC,VOBL,VECC,0.0025,0.0003,...,522.05,2387.96,8145.20,8.4028,0.03,390,2388,100,39.14,23.4919
4,train_FD001,999001,1,16,2018-01-13 20:24:00,AIC,VOBL,VECC,0.0025,0.0003,...,522.14,2388.01,8140.53,8.4190,0.03,390,2388,100,38.97,23.4489

In [17]:
#Generating union for the three structured av_engine_data sets
# Append the three datasets into one table

data_sets=[read_table1,read_table2,read_table3]
disply_reslt=pd.concat(data_sets)
disply_reslt

,dataset,esn,unit,flight_cycle,datetime,operator,depart_icao,destination_icao,hpc_eff_mod,hpc_flow_mod,...,phi,nrf,nrc,bpr,farb,htbleed,nf_dmd,pcnfr_dmd,w31,w32
0,train_FD001,999001,1,1,2018-01-11 17:10:56,AIC,VTBS,VICG,-0.0005,0.0002,...,521.93,2388.12,8130.36,8.4279,0.03,392,2388,100,38.86,23.4513
1,train_FD001,999001,1,2,2018-01-12 01:07:00,AIC,VICG,VTBS,0.0016,-0.0003,...,521.72,2388.09,8134.28,8.4230,0.03,391,2388,100,38.80,23.3881
2,train_FD001,999001,1,3,2018-01-12 02:06:59,AIC,VICG,VTBS,-0.0017,0.0001,...,521.97,2388.09,8133.95,8.3951,0.03,391,2388,100,38.84,23.3085
3,train_FD001,999001,1,4,2018-01-12 07:42:00,AIC,VTBS,VIDP,-0.0012,-0.0002,...,522.04,2388.10,8129.85,8.4040,0.03,391,2388,100,39.03,23.3975
4,train_FD001,999001,1,5,2018-01-12 08:42:17,AIC,VTBS,VIDP,0.0027,0.0001,...,522.25,2387.97,8132.67,8.4135,0.03,392,2388,100,38.80,23.3820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7285,train_FD001,999086,86,271,2018-02-08 08:24:59,FRON,KMIA,KLAS,-0.0017,0.0000,...,519.80,2388.22,8153.15,8.5043,0.03,396,2388,100,38.47,23.0271
7286,train_FD001,999086,86,272,2018-02-08 13:16:00,FRON,KLAS,KIND,0.0002,-0.0004,...,519.62,2388.23,8153.33,8.4910,0.03,396,2388,100,38.52,23.0738
7287,train_FD001,999086,86,273,2018-02-08 14:16:02,FRON,KLAS,KIND,0.0017,0.0002,...,519.51,2388.21,8150.99,8.5339,0.03,396,2388,100,38.45,23.1261
7288,train_FD001,999086,86,274,2018-02-08 18:21:45,FRON,KIND,KMCO,0.0003,0.0003,...,519.13,2388.25,8157.08,8.5220,0.03,396,2388,100,38.49,23.0981
7289,train_FD001,999086,86,275,2018-02-09 09:05:00,FRON,KMCO,KBUF,-0.0002,-0.0005,...,519.63,2388.22,8151.89,8.4919,0.03,398,2388,100,38.51,22.9947